NEXT_PUBLIC_MSAL_CLIENT_ID=your-client-id
NEXT_PUBLIC_MSAL_TENANT_ID=your-tenant-id
NEXT_PUBLIC_TENANT_DOMAIN=baht.net
NEXT_PUBLIC_INTERNAL_DOMAINS=baht.net,bahtnet.onmicrosoft.com
NEXT_PUBLIC_TARGET_SITES=bahtnet.sharepoint.com:/sites/DGCS,bahtnet.sharepoint.com:/sites/EngineerSite
NEXT_PUBLIC_PROTECTED_LIBRARY_NAMES=Confidential,Secret
NEXT_PUBLIC_AUDIT_SITE=bahtnet.sharepoint.com:/sites/DGCS
NEXT_PUBLIC_AUDIT_LIST_NAME=PermissionAuditLog
NEXT_PUBLIC_AUDIT_LOG_ENABLED=true
NEXT_PUBLIC_REVIEW_SCOPE_SITE=bahtnet.sharepoint.com:/sites/DGCS
NEXT_PUBLIC_REVIEW_SCOPE_LIST_NAME=PermissionReviewScopes
NEXT_PUBLIC_REVIEW_SCOPE_LIST_ENABLED=true
NEXT_PUBLIC_REVIEW_SCAN_DESCENDANTS=true
NEXT_PUBLIC_REVIEW_SCAN_ITEM_LIMIT=2000
NEXT_PUBLIC_REVIEW_SCOPES=[{"ownerEmail":"thanattouth@baht.net","ownerName":"Thanattouth Niticharoen","ownerRole":"OwnerRep","siteName":"DGCS","hostname":"bahtnet.sharepoint.com","path":"/sites/DGCS","libraryName":"Confidential","sensitivityLabel":"Confidential"}]
